-i https://pypi.org/simple
altair==4.1.0; python_version >= '3.6'
argon2-cffi==20.1.0
astor==0.8.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
attrs==20.1.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
backcall==0.2.0
base58==2.0.1; python_version >= '3.5'
bleach==3.1.5; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
blinker==1.4
boto3==1.14.47
botocore==1.17.47
cachetools==4.1.1; python_version ~= '3.5'
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
colorama==0.4.3; sys_platform == 'win32'
colorlover==0.3.0
cufflinks==0.17.3
decorator==4.4.2
defusedxml==0.6.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
docutils==0.15.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
entrypoints==0.3; python_version >= '2.7'
enum-compat==0.0.3
idna==2.10; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
ipykernel==5.3.4; python_version >= '3.4'
ipython-genutils==0.2.0
ipython==7.17.0; python_version >= '3.3'
ipywidgets==7.5.1
jedi==0.17.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
jinja2==2.11.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
jmespath==0.10.0; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
jsonschema==3.2.0setuptools==46.4.0
jupyter-client==6.1.6; python_version >= '3.5'
jupyter-core==4.6.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
markupsafe==1.1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
mistune==0.8.4
nbconvert==5.6.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
nbformat==5.0.7; python_version >= '3.5'
notebook==6.1.3; python_version >= '3.5'
numpy==1.19.1
packaging==20.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pandas==1.1.1
pandocfilters==1.4.2
parso==0.7.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pathtools==0.1.2
pickleshare==0.7.5
pillow==7.2.0; python_version >= '3.5'
plotly==4.9.0
prometheus-client==0.8.0
prompt-toolkit==3.0.6; python_full_version >= '3.6.1'
protobuf==3.13.0
pyarrow==1.0.1; python_version >= '3.5'
pycparser==2.20; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pydeck==0.4.1
pygments==2.6.1; python_version >= '3.5'
pyparsing==2.4.7; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyrsistent==0.16.0
python-dateutil==2.8.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz==2020.1
pywin32==228; sys_platform == 'win32'
pywinpty==0.5.7; os_name == 'nt'
pyzmq==19.0.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
requests==2.24.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
retrying==1.3.3
s3transfer==0.3.3
scipy==1.5.2
send2trash==1.5.0
six==1.15.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
streamlit==0.65.2
terminado==0.8.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
testpath==0.4.4
toml==0.10.1pip==20.0.2
toolz==0.10.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
tornado==6.0.4; python_version >= '3.5'
traitlets==4.3.3
tzlocal==2.1
urllib3==1.25.10; python_version != '3.4'
validators==0.18.0; python_version >= '3.4'
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
